<mat-toolbar>
  <!-- Schema -->
  <mat-form-field>
    <mat-label>Schema</mat-label>
    <mat-select
      [(value)]="selectedSchedule"
      (selectionChange)="onScheduleChange($event.value)"
    >
      @for (schedule of schedules(); track $index) {
      <mat-option [value]="schedule.id">{{ schedule.displayName }}</mat-option>

      }
    </mat-select>
  </mat-form-field>

  <!-- Filter -->
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <mat-select [(value)]="selectedFilterType" (selectionChange)="onFilterTypeChange($event.value)">
      <mat-option value="teacher">Lärare</mat-option>
      <mat-option value="group">Grupp</mat-option>
      <mat-option value="location">Sal</mat-option>  
    </mat-select>
  </mat-form-field>

  <!-- Teacher -->
  <mat-form-field>
    <mat-label>Lärare</mat-label>
    <mat-select [(value)]="selectedFilterId" (selectionChange)="onFilterIdChange($event.value)">
      @for (teacher of teachers(); track $index) {
      <mat-option [value]="teacher.id">{{ teacher.displayName }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <!-- Group -->
  <mat-form-field>
    <mat-label>Grupper</mat-label>
    <mat-select [(value)]="selectedFilterId" (selectionChange)="onFilterIdChange($event.value)">
      @for (group of groups(); track $index) {
      <mat-option [value]="group.id">{{ group.displayName }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <!-- Location -->
  <mat-form-field>
    <mat-label>Sal</mat-label>
    <mat-select [(value)]="selectedFilterId" (selectionChange)="onFilterIdChange($event.value)">
      @for (location of locations(); track $index) {
      <mat-option [value]="location.id">{{ location.displayName }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <!-- Week -->
  <mat-form-field>
    <mat-label>Vecka</mat-label>
    <!-- [(...)] is a two-way binding syntax in Angular whereas [...] is a one-way binding and (...) is an event binding -->
    <mat-select [(value)]="selectedWeek">
      @for (week of weeks(); track $index) {
      <mat-option [value]="week">{{ week }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</mat-toolbar>

<!-- instantiates an instance of our calendar component and passes some input data -->
<app-calendar [initialDate]="selectedWeek()" [events]="events()"></app-calendar>
