
  <div class="toolbar">
    <!-- Schedule-->
    <mat-form-field>
      <mat-label>Schedule</mat-label>
      <mat-select
        [(value)]="selectedSchedule"
        (selectionChange)="onScheduleChange($event.value)"
      >
        @for (schedule of schedules(); track $index) {
        <mat-option [value]="schedule.id">{{
          schedule.displayName
        }}</mat-option>

        }
      </mat-select>
    </mat-form-field>

    <!-- Filter -->
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <mat-select
        [(value)]="selectedFilterType"
        (selectionChange)="onFilterTypeChange($event.value)"
      >
        <mat-option value="teacher">Teacher</mat-option>
        <mat-option value="group">Group</mat-option>
        <mat-option value="location">Location</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Teacher -->
    <mat-form-field>
      <mat-label>Teacher</mat-label>
      <mat-select
        [(value)]="selectedTeacherId"
        (selectionChange)="onTeacherFilterIdChange($event.value)"
        [disabled]="selectedFilterType() !== 'teacher' || !selectedSchedule()"
      >
        @for (teacher of teachers(); track $index) {
        <mat-option [value]="teacher.id">{{ teacher.displayName }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <!-- Group -->
    <mat-form-field>
      <mat-label>Group</mat-label>
      <mat-select
        [(value)]="selectedGroupId"
        (selectionChange)="onGroupFilterIdChange($event.value)"
        [disabled]="selectedFilterType() !== 'group' || !selectedSchedule()"
      >
        @for (group of groups(); track $index) {
        <mat-option [value]="group.id">{{ group.displayName }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <!-- Location -->
    <mat-form-field>
      <mat-label>Location</mat-label>
      <mat-select
        [(value)]="selectedLocationId"
        (selectionChange)="onLocationFilterIdChange($event.value)"
        [disabled]="selectedFilterType() !== 'location' || !selectedSchedule()"
      >
        @for (location of locations(); track $index) {
        <mat-option [value]="location.id">{{
          location.displayName
        }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <!-- Week -->
    <mat-form-field>
      <mat-label>Week</mat-label>
      <!-- [(...)] is a two-way binding syntax in Angular whereas [...] is a one-way binding and (...) is an event binding -->
      <mat-select [(value)]="selectedWeek">
        @for (week of weeks(); track $index) {
        <mat-option [value]="week">{{ week }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

  </div>

  <app-calendar
    [initialDate]="selectedWeek()"
    [events]="events()"
  ></app-calendar>
